  .container {
    justify-content: center;
  align-items: center;
  height: 100vh;
    max-width: 100%;
    height: auto;
    margin-top: 20;
    padding-top: 70px;
  }
.img-contacto{
  width: 180%;
  background-color: aqua;
  padding-top: 70px 
}
  .logoElectro{
    width: 200%;
    padding-right: 60;
    padding-top: 70px
  }

  h2{
    display: flex;
    justify-content: center;
  }